body {
    background-color: #f7ebd1;
    display: grid;
}

ul {
    background-color: #6C05E3;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: #ffffff;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    font-weight: 900;
}

li a:hover {
    background-color: #323F4C;
}

ul li a.activate {
    color: #fff;
    text-decoration: underline;
}

footer {
    background-color: #6C05E3;
    color: #ffffff;
    text-align: center;
    padding: 5px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #4d4d4d;
    padding: 5px;
    text-align: center;
}

th {
    background-color: #323F4C;
    color: #ffffff;
}

tr:nth-child(even) {
    background-color: #f5dfaf; 
}

#header {
    background-color:  #323F4C;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    color: #ffffff;
    display: flex;
}

#header h2 {
    margin-left: 50%;
    transform: translateX(-50%);
}

#header form {
    padding: 40px 20px;
    text-align: right;
}

.destaque {
    background-color: #f7ebd1;
    color: #4d4d4d;
    padding: 20px;
    text-align: center;
}

.imagem-destaque {
    display: inline-block;
    margin: 10px;
    padding: 5px;
}

.imagem-destaque img {
    max-width: 100%;
}

.destaque p {
    margin-top: 10px; 
}

